@import url(https://fonts.googleapis.com/css2?family=Inter:wght@700;900&family=Montserrat:ital,wght@0,400;0,600;0,700;1,900&family=Open+Sans:wght@400;700&display=swap);
* {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.main-content::before {
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../img/main-banner.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  margin: 0;
}

.header-nav {
  padding-top: 35px;
}

.header-nav_items {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 98px;
  margin-left: 98px;
  margin-top: 11px;
  color: #275553;
  font-family: "Open Sans";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}

.header-nav_item {
  padding-right: 56px;
  justify-content: space-between;
  margin: 0;
}

.logo-head {
  text-align: left;
}

.main-cta {
  margin-left: 98px;
}

.header-nav_logo {
  margin-left: 98px;
  float: left;
}

.reservation {
  border: 1px #275553 solid;
  padding: 11px 32px;
  border-radius: 5px;
  color: #275553;
}

h1 {
  padding-top: 88px;
  font-family: "Inter";
  font-style: normal;
  font-size: 64px;
  font-weight: 900;
  color: #FFFFFF;
}

.main-cta {
  max-width: 616px;
}

.main-cta_caption {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 30px;
  font-weight: 900;
  color: #FFFFFF;
  background-color: #F47648;
  padding: 2px 24px;
  max-width: 481px;
  border-radius: 16px;
  text-align: center;
  margin-top: 25px;
}

.main-cta_descr {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  padding-top: 40px;
  padding-bottom: 40px;
}

.timetable {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-underline-offset: 6px;
  position: relative;
  padding-bottom: 40px;
  padding-top: 40px;
}

.timetable::before {
  content: "";
  width: 64px;
  height: 64px;
  background-image: url("../icons/arrow-btn.svg");
  background-repeat: no-repeat;
  position: absolute;
  left: 157px;
  top: 20px;
}

.main-social_btn {
  margin-left: 98px;
  margin-top: 170px;
}

.main-facebook {
  padding-right: 25px;
}

.start {
  margin-top: 227px;
}

.start_container {
  margin-right: 98px;
  margin-left: 98px;
  text-align: left;
}

.start_caption {
  font-family: "Inter";
  font-size: 48px;
  font-weight: 700;
  text-align: left;
  padding-top: 120px;
  max-width: 728px;
  margin: 0;
}

.start_subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  font-size: 24px;
  color: #313131;
  max-width: 600px;
  padding-top: 27px;
}

.start_descr {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  padding-top: 35px;
  max-width: 635px;
}

.start-characteristics_items {
  display: flex;
  max-width: 830px;
  margin: 0;
  gap: 64px;
  margin-top: 104px;
}

.characteristics-item_subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
}

.characteristics-item_descr {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  font-weight: 700;
  padding-top: 3px;
}

.start::before {
  content: "";
  z-index: -1;
  background-image: url("../img/day-one.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 325%;
  background-size: 100%;
  top: 150%;
}

.start-level {
  position: relative;
}

.start-level::before {
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("../icons/level.svg");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 55px;
}

.start-date {
  position: relative;
}

.start-date::before {
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("../icons/date.svg");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 55px;
}

.start-duration {
  position: relative;
}

.start-duration::before {
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("../icons/duration.svg");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 55px;
}

.start-hotel {
  position: relative;
}

.start-hotel::before {
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("../icons/hotel.svg");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 55px;
}

.depiction-container {
  margin-left: 98px;
}

.depiction-caption {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
  max-width: 662px;
  margin-left: 0;
  margin-top: 381px;
}

.depiction-subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  max-width: 300px;
  padding-top: 32px;
  color: #FFFFFF;
}

.depiction-name {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  padding-top: 13px;
  color: #FFFFFF;
}

.underline {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-underline-offset: 6px;
  color: #FFFFFF;
}

.secondary {
  color: #F47648;
}

.day-one_caption {
  font-family: "Inter";
  font-size: 48px;
  font-weight: 700;
  text-align: left;
  margin: 0;
  padding-top: 250px;
  color: #FFFFFF;
  max-width: 550px;
}

.day-one_container {
  margin-left: 0;
  margin-left: 98px;
  text-align: left;
}

.day-one_descr-container {
  max-width: 510px;
  margin: 0;
  padding-top: 70px;
}

.day-one_descr-1,
.day-one_descr-2,
.day-one_descr-3,
.day-one_descr-4 {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color: #ACACAC;
  padding-bottom: 50px;
}

.main-bold {
  color: #FFFFFF;
  font-weight: 700;
}